<h2>Dealership Information</h2>
<hr>

<ul>
  <% @dealership.cars().each() do |car| %>
    <li><a href="/vehicles/<%= car.id() %>"><%= car.make() %> <%= car.model() %> <%= car.year() %></a></li>
  <% end %>
</ul>

<a href="/dealerships/<%= @dealership.id%>/vehicles/new">Add a new vehicle</a>
<a href="/">Return to Home Page</a>
